section{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    
};

div{
    display: flex;
    height: 25px;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
};

